<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="7d95df82b36c473980472f922613673b" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_7d95df82b36c473980472f922613673b = echarts.init(
            document.getElementById('7d95df82b36c473980472f922613673b'), 'white', {renderer: 'canvas'});
        var option_7d95df82b36c473980472f922613673b = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u6da8\u8dcc\u5e45",
            "legendHoverLink": true,
            "data": [
                20.04,
                20.01,
                20.0,
                20.0,
                19.99,
                17.53,
                15.53,
                12.98,
                12.1,
                11.45
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8,
                "formatter": "{c}%"
            }
        },
        {
            "type": "bar",
            "name": "\u6da8\u8dcc\u989d",
            "legendHoverLink": true,
            "data": [
                2.15,
                7.94,
                2.93,
                2.37,
                5.32,
                5.16,
                11.18,
                4.09,
                0.45,
                8.98
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8,
                "formatter": "{c}"
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u6da8\u8dcc\u5e45",
                "\u6da8\u8dcc\u989d"
            ],
            "selected": {
                "\u6da8\u8dcc\u5e45": true,
                "\u6da8\u8dcc\u989d": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "rotate": 0,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u7ff0\u5b87\u836f\u4e1a",
                "\u4e30\u7acb\u667a\u80fd",
                "\u767e\u80dc\u667a\u80fd",
                "\u4e50\u51ef\u65b0\u6750",
                "\u8fc8\u8d6b\u80a1\u4efd",
                "\u4f17\u667a\u79d1\u6280",
                "\u4e09\u535a\u8111\u79d1",
                "\u8bfa\u6cf0\u751f\u7269",
                "\u4e09\u4e30\u667a\u80fd",
                "\u62d3\u65b0\u836f\u4e1a"
            ]
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u4e0d\u540c\u80a1\u7968\u6da8\u8dcc\u5e45\u4e0e\u6da8\u8dcc\u989d",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_7d95df82b36c473980472f922613673b.setOption(option_7d95df82b36c473980472f922613673b);
    </script>
</body>
</html>
