<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="0cab2072fa51496b9cb91a6aa746ac9f" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_0cab2072fa51496b9cb91a6aa746ac9f = echarts.init(
            document.getElementById('0cab2072fa51496b9cb91a6aa746ac9f'), 'white', {renderer: 'canvas'});
        var option_0cab2072fa51496b9cb91a6aa746ac9f = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "scatter",
            "name": "\u5e02\u76c8\u7387",
            "symbolSize": 10,
            "data": [
                [
                    "\u7ff0\u5b87\u836f\u4e1a",
                    152.15
                ],
                [
                    "\u4e30\u7acb\u667a\u80fd",
                    144.08
                ],
                [
                    "\u767e\u80dc\u667a\u80fd",
                    53.587
                ],
                [
                    "\u4e50\u51ef\u65b0\u6750",
                    599.3
                ],
                [
                    "\u8fc8\u8d6b\u80a1\u4efd",
                    104.405
                ],
                [
                    "\u4f17\u667a\u79d1\u6280",
                    60.196
                ],
                [
                    "\u4e09\u535a\u8111\u79d1",
                    179.443
                ],
                [
                    "\u8bfa\u6cf0\u751f\u7269",
                    56.61
                ],
                [
                    "\u4e09\u4e30\u667a\u80fd",
                    152.15
                ],
                [
                    "\u62d3\u65b0\u836f\u4e1a",
                    19.577
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5e02\u76c8\u7387"
            ],
            "selected": {
                "\u5e02\u76c8\u7387": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "formatter": "{a}: {c}",
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "nameRotate": 60,
            "gridIndex": 0,
            "axisLabel": {
                "rotate": 45
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u7ff0\u5b87\u836f\u4e1a",
                "\u4e30\u7acb\u667a\u80fd",
                "\u767e\u80dc\u667a\u80fd",
                "\u4e50\u51ef\u65b0\u6750",
                "\u8fc8\u8d6b\u80a1\u4efd",
                "\u4f17\u667a\u79d1\u6280",
                "\u4e09\u535a\u8111\u79d1",
                "\u8bfa\u6cf0\u751f\u7269",
                "\u4e09\u4e30\u667a\u80fd",
                "\u62d3\u65b0\u836f\u4e1a"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u4e0d\u540c\u80a1\u7968\u5e02\u76c8\u7387",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ],
    "visualMap": {
        "show": true,
        "type": "piecewise",
        "min": 0,
        "max": 150,
        "inRange": {
            "symbolSize": [
                20,
                50
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "hoverLink": true,
        "orient": "horizontal",
        "left": "35%",
        "bottom": "0",
        "padding": 5,
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 14,
        "borderWidth": 0,
        "pieces": [
            {
                "max": 0,
                "min": -100000.0,
                "label": "< 0",
                "color": "orange"
            },
            {
                "max": 50,
                "min": 0,
                "label": "0-50",
                "color": "green"
            },
            {
                "max": 200,
                "min": 50,
                "label": "50-200",
                "color": "skyblue"
            },
            {
                "max": 1000,
                "min": 100000.0,
                "label": "> 200",
                "color": "red"
            }
        ]
    }
};
        chart_0cab2072fa51496b9cb91a6aa746ac9f.setOption(option_0cab2072fa51496b9cb91a6aa746ac9f);
    </script>
</body>
</html>
