<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/themes/westeros.js"></script>

</head>
<body >
    <div id="e24ef77e39ed4f8d88b72eafd6d32351" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_e24ef77e39ed4f8d88b72eafd6d32351 = echarts.init(
            document.getElementById('e24ef77e39ed4f8d88b72eafd6d32351'), 'westeros', {renderer: 'canvas'});
        var option_e24ef77e39ed4f8d88b72eafd6d32351 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "series": [
        {
            "type": "bar",
            "name": "2023-05-17",
            "legendHoverLink": true,
            "data": [
                8.16,
                17.93,
                11.42,
                0.74,
                4.31,
                30.28,
                null,
                2.83,
                0.88,
                9.9
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stack": "stack1",
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "2023-05-18",
            "legendHoverLink": true,
            "data": [
                5.36,
                15.67,
                10.74,
                0.72,
                2.32,
                18.96,
                null,
                3.33,
                0.85,
                11.04
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stack": "stack1",
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "2023-05-19",
            "legendHoverLink": true,
            "data": [
                8.43,
                38.48,
                15.53,
                1.13,
                1.84,
                13.4,
                null,
                4.88,
                1.07,
                12.37
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stack": "stack1",
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "2023-05-22",
            "legendHoverLink": true,
            "data": [
                5.03,
                65.44,
                27.12,
                0.9,
                3.53,
                40.95,
                null,
                3.29,
                0.9,
                8.63
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stack": "stack1",
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "2023-05-23",
            "legendHoverLink": true,
            "data": [
                23.58,
                73.69,
                44.68,
                1.38,
                8.96,
                75.97,
                null,
                2.31,
                0.72,
                6.64
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stack": "stack1",
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "2023-05-17",
                "2023-05-18",
                "2023-05-19",
                "2023-05-22",
                "2023-05-23"
            ],
            "selected": {
                "2023-05-17": true,
                "2023-05-18": true,
                "2023-05-19": true,
                "2023-05-22": true,
                "2023-05-23": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "rotate": 30,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u7ff0\u5b87\u836f\u4e1a",
                "\u4e30\u7acb\u667a\u80fd",
                "\u767e\u80dc\u667a\u80fd",
                "\u4e50\u51ef\u65b0\u6750",
                "\u8fc8\u8d6b\u80a1\u4efd",
                "\u4f17\u667a\u79d1\u6280",
                "\u4e09\u535a\u8111\u79d1",
                "\u8bfa\u6cf0\u751f\u7269",
                "\u4e09\u4e30\u667a\u80fd",
                "\u62d3\u65b0\u836f\u4e1a"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "\u6362\u624b\u7387",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u4e0d\u540c\u80a1\u7968\u7684\u6362\u624b\u7387",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_e24ef77e39ed4f8d88b72eafd6d32351.setOption(option_e24ef77e39ed4f8d88b72eafd6d32351);
    </script>
</body>
</html>
